@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Fascinate);
@import url(//fonts.googleapis.com/css?family=Pontano+Sans);

:root {
	--black: rgb(0,0,0);
    --grey: rgb(90, 90, 90);
	--blue1: rgb(40, 36, 98);
	--blue2: rgb(0, 85, 183);
	--blue3: rgb(0,114,206);
	--blue4: rgb(155,203,235);
	--pink1: #F9564F;
    --width1: 900px;
 }

html, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: var(--grey);
}
p{
    /* margin: 0.2em; */
    line-height: 1.3em;
}

ol, ul {
    list-style: none;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  var(--blue1);
}

a:hover{
    text-decoration: underline;
}

i {
    font-style: italic;
}

h1 {
    font-weight: 600;
    color: var(--blue1);
}

h2 {
    font-weight: 600;
    color: var(--blue1);
}

b {
    font-weight: 600;
}

body{
    width: var(--width1);
    margin: 0px auto;
}

/**************************************************/

#header {
    height: 2em;
    line-height: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 50% - calc(var(--width1)/2);
    z-index: 9999;
    width: var(--width1);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
}

#header a {
    text-decoration: none;
    color: var(--grey);
    transition: color 0.3s ease;
}

#header a:hover {
    color: var(--blue2);
}

/**************************************************/

#profile {
    padding: 90px 30px 10px 30px;
}

#profile-pic {
    float: left;
    margin-right: 40px;
    text-align: center;
}

#profile img {
    width: 400px;
    margin-bottom: 18px;
}

#profile-name {
    font-size: 3em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--blue1);
    text-align: center;
}


#profile-email {
    margin-bottom: 20px;
    color: var(--blue1);
    text-align: center;
}

#profile p {
    margin-bottom: 20px;
}


.divider {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.research-thumb {
    width: 10em;
    height: 10em;
    float: left;
    margin-top: 7px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.research-thumb img {
    width: 100%;
}

.research-proj-title {
    color: var(--blue1);
    font-weight: 400;
}